body {border:5px solid black;
width:500px;
padding:100px; 
margin-right:auto;
margin-left:auto;}

.calendar { position:absolute !important;
              left: 720px !important;
              top: 800px !important; 
}